.elements__delete {
  background: none;
  border: none;
  min-width: 18px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../images/delete.svg);
  background-position: 50% 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.elements__delete:hover {
  opacity: 0.5;
}
